body{
    margin: 0;
   
    padding: 0;
    
}


#myVideo {
    position: fixed;
    right: 0;
    z-index: -2;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
.logo{

/* border: 2px solid black; */
width: 300px;
height: 80px;
}

.beside_logo{
width: 50px;
border-right: 0.5px solid grey;
position: relative;
height: 120px;


}


.home_header{
display: flex;
/* position: relative; */
position: fixed;
background-color: #fff;
height: fit-content;
width: 100%;
z-index: 200;


}



.home_li{
    color: #1abc9c;
list-style-type: none;
/* margin: 50px; */
margin-top: 60px;
margin-left: 100px;
display: flex;
  font-weight: 700;
  font-size: 13px;
  font-family: Raleway, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home_list{
    color: #444;
list-style-type: none;
/* margin: 50px; */
display: flex;
margin-top: 60px;
margin-left: 40px;
  font-weight: 700;
  font-size: 13px;
  font-family: Raleway, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home_list:hover{
    color: #444;

}
li {
    float: right;
    text-align: right;
list-style-type: none;
  /* margin: 50px; */
  color: #444;
  padding-left: -40px;
  margin-top: 60px;
  margin-left: 10px;

  display: flex;
    font-weight: 700;
    font-size: 13px;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;

}
li:hover{
    cursor: pointer;
    color: #1abc9c!important;

}

.mother_li{
    margin-left: 100px;
    float: right;

}

.dropdown{
  height: 120px;
  display: flex;
  margin-left: 50px;
  cursor: pointer;
}
.search{
    margin: 50px;
}
.dropdown-content{

    /* /* display: none; */
    position: absolute;
    background-color: white;
    color: black;
    line-height: 2;
    
    width: 200px;
    border-top: 2px solid green;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    border-bottom: 0.5px solid white;
    
    display: none;
    margin-top: 120px;
    
}

.dropdown-content a{
    padding-left: 40px;
text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    color: #444;
    font-size: 13px;
    font-weight: 700;

}



.dropdown:hover .dropdown-content  {
    display: block;

}
input{
    height: 70px;
    width: 100%;
}
#homeground{

background-image: url(image/7.jpg);
width: 100%;
padding-top: 240px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 500px;

}
.first_button{
margin-top: 150px;
height: 50px;
border: none;
width: 50px;
background-color: rgba(109, 109, 109, 0.459);

}


.second_button{
    margin-top:150px;
    height: 50px;
    float: right;
    width: 50px;
    border: none;

    background-color: rgba(109, 109, 109, 0.459);
    
    
    }
    .first_header{
        font-family: Raleway, sans-serif;
        margin: 90px;   
        text-align: center;
        
    }
    .first_hr{
    
        width: 50px;
        border-color: black;
        /* border: 3px solid red; */

    }

    .profile{
        display: flex;
        /* margin: 150px; */
    }
    .profile_image{
        height: 300px;
        width: 300px;
        border-radius: 30%;
    }

    .profile_name{
margin: 40px;
font-size: 20px;
letter-spacing: 2px;

font-weight: bolder;
font-family: Raleway, sans-serif;

    }
    .profile_works{

     margin: 40px; 
font-size: 15px;
letter-spacing: 2px;
color: #bb5651;
font-weight: lighter;
font-family: Dancing script,cursive;
    }

    .profile_location{
        margin: 40px;
        font-weight: bolder;
        font-size: 15px;
        font-family: Raleway, sans-serif;
text-transform: capitalize;

    }

#profile_icon{
margin: 4px;


    }
    .icon_container{

        margin: 40px;
    }
    .mother_profile{
        display: flex;
        justify-content: space-evenly;
        margin: 50px;
    }

    .video{
margin-left: 29%;
height:340px;
width: 560px;
 justify-content: center; 
 margin-top: 50px; 

    }
    .profile_work{

        margin: 40px; 
   font-size: 13px;
   letter-spacing: 2px;
   color: green;
   font-weight: lighter;
   font-family: Dancing script,cursive;
       }

       .vid_background{
height: 800px;
margin: auto;
width: 1300px;
line-height: 34px;
background-image: linear-gradient(red,yellow,green);

       }

       .instruction_links{
        text-transform: lowercase;
        font-weight: bolder;
        font-size: 19px;
        font-family: Raleway, sans-serif;
        color: rgb(61, 59, 59);
        text-align: center;
        
       }
       
       .instructions_links a{
        color: red;
       }

       .instructions_links{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 25px;
        font-family: Raleway, sans-serif;
        color: red;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: red;
        margin-top: -20px;
        /* text-decoration-thickness: 4px; */
       
       }

       
       .instructions_links2 a{
        color: green;
       }

       .instructions_links2{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 25px;
        font-family: Raleway, sans-serif;
        color: green;
        text-align: center;
        text-decoration: underline;
        text-decoration-color:green;
        margin-top: -20px;
        /* text-decoration-thickness: 4px; */
       
       }

       .marquee_background{

        margin-top: 60px;
        background: #f5d4d9;
        height: 130px;
        color: orangered;
        font-size: 20px;
        padding-top: 20px;
        font-weight: 700;
        font-family: Raleway, sans-serif;
        line-height: 1.8;
        box-sizing: border-box;

        

       }

       
       .first_header2{
           font-family: Raleway, sans-serif;
           margin-top: 90px;
           text-transform: capitalize;
           color: #444;
            font-size: 30px;
           text-align: center;
          
       }

       .grey_background{
            display: flex;
        height: 200px;
        width: 100%;
        background-color: #f5f5f5;        
       }
 
       .what_to_do{
margin-left: 90px;
font-size: 25px;
padding-top: 40px;
color: #444;
font-weight: 700;
font-family: Raleway, sans-serif;
color: black;

       }

       .what_to_do2{
        text-transform: capitalize;
        margin-left: 0px;
        font-weight: 100;
        margin-top: 15px;
        font-size: 19px;
        font-family: Raleway, sans-serif;
        color: black;
        
        
               }

               .track_button{
                float: right;
                background-color: #444;
                height: 65px;
                margin-top: 50px;
                font-family: Raleway, sans-serif;
                color: white;
                border: none;
                border-radius: 1.5px;
                right: 80px;
                margin-left: 600px;
                font-size: 20px;
                width: 250px;
                letter-spacing: 2px;
               }
               .track_button a{
                color: white;
                text-decoration: none;
               }
               .track_button:hover{
                background-color: #1abc9c;
               }


           .container_icons{
            margin-top: 60px;
            display: flex;
            justify-content: space-evenly;
           }
               
           #_icon{
            /* margin-top: 23px; */
            /* margin-left: 23px; */
            font-size: 50px;
            margin: 28px;
           }
.home_icon{
    background-color: #f5f5f5;
    height: 110px;
    margin-left: 50px;
    width: 110px;
    
    border-radius: 50%;



}

.p_icon{
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;

}

.p_icon2{
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    letter-spacing: 1px;
    margin-left: 50px;
    margin-bottom: 0;
    color: #333;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;

}


.p_icon3{
    font-size: 16px;
    margin-left: 30px;
    font-weight: 700;
    margin-top: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;

}


.p_icon4{
    font-size: 16px;
    margin-left: 50px;
    font-weight: 700;
    margin-top: 40px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;

}
.home_home_icon:hover .home_icon{
background:linear-gradient( to top left, black,rgb(85, 85, 85));
color: white;
 border: 12px double white;
}

.bills_h1{
    text-transform: capitalize;
    color: #333;
    font-size: 25px;
    height: 45px;
    margin-top: 90px;
    margin-left: 100px;
    border-bottom: 3px solid #1abc9c;
    
   
    font-family: Raleway, sans-serif;

}


.td_p{
    font-family: Raleway, sans-serif;
margin-left: 30px;
font-family: crete round, serif;
font-style: italic;
font-size: 18px;


}

.file{
    height: 70px;
    width: 70px;
}
.senate{
    font-family: Raleway, sans-serif;
font-size: 20px;
color: black;
margin-left: 0px;

}
.date{
    font-family: Raleway, sans-serif;
margin-left: 0px;
font-size: 12px;
color: rgb(166, 166, 166);

}
.top_left{
    display: flex;
    border-bottom: 1px dashed gray;
    width: 600px;
}
.top_left2{
    display: flex;
   
    width: 600px;
}
.container_table{
    display: flex;
    height: fit-content;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.top_right2{
    width: 600px;
border-left: 1px dashed gray;
        display: flex;
        
    }
.top_right{
    width: 600px;
border-left: 1px dashed gray;
        display: flex;
        border-bottom: 2px dashed black;
    }

    .container_table_main{
        
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }

    #go_top{
    
        z-index: 299;
        position: fixed;
        width: 40px;
        height: 40px;
        background-color: #333;
        background-color: rgba(0, 0, 0, .3);
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        top: auto;
        border: none;
        left: auto;
        right: 30px;
        bottom: 50px;
        cursor: pointer;
        border-radius: 2px;
    }
    #go_top:hover{
        background-color: #1abc9c;
    }
.above_footer{
margin-top: 180px;
    height: 440px;
    width: 100%;
    font-family: Raleway, sans-serif;
font-weight: 200;
  /* color: white; */
  color: gray;
  justify-content: space-evenly;
display: flex;
    opacity:.8 ;
    background: url(image/map4.jpg);
    background-color: rgba(7, 6, 6, 0.209);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h5{
font-size: 25px;
padding-top: 50px;


}

.country{
font-size: 17px;
text-transform: capitalize;    font-family: Raleway, sans-serif;
font-weight: 200;

}
    
.above_footer_list{
    text-transform: capitalize;
    font-size: 17px;
    list-style-type: disc;
    font-family: Raleway, sans-serif;
    font-weight: 200;

}

   
.above_footer_list2{
    text-transform: capitalize;
    font-size: 17px;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    width: 400px;
    list-style-type: disc;

}
.third_h5{

    
        font-size: 25px;
        padding-top: 50px;
        height: 150px;
        border-bottom: 2px dashed gray;

   
}

.above_footer_list3{
    text-transform: capitalize;
    font-size: 17px;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    padding-top: 370px;
    width: 400px;
    list-style-type: disc;

}
.twitter_button{
    background-color: #1d9bf0;
    font-weight: 500;
  
    color: white;
    height: 35px;
    width: 90px;
    border-radius: 50px;
}

.follow_button{
    margin-left: 4px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 13px;
}

.twitter_button:hover{
    background-color: #0a5b91;
}

footer{
    margin: 0;
    padding: 0;
    height: 100px;
    justify-content: space-between;
    display:flex;
    background-color: rgba(0, 0, 0, 0.825);
}

.footer_p{
    color: gray;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    margin-left: 60px;
    padding-top: 40px;
}

.last{
    color: gray;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    text-decoration:underline;
    margin-top: 20px;
    margin-right: 15px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}


.last2{
    color: gray;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    text-decoration:underline;
    margin-top: 20px;
    margin: 15px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.last:hover{
opacity: 0.9;
text-decoration-style: solid;
}

.last2:hover{
    opacity: 0.9;
    text-decoration-style: solid;
    }

    .brands{
        margin: 40px;
        color: gray;
        font-family: Raleway, sans-serif;
        font-size: 17px;
    

    }
    


@media only screen and (max-width: 1304px)
{[class*="col-"] 
    
    body{
        margin: 0;
        padding: 0;
        width:100%;
    }
.home_li{
    display: none;
}
.home_list{
    display: none;
}
.beside_logo
{
    display: none;
}

.dropdown  li{
    display: none;
}
.home_li{
    display: none;
}
.search{
    display: none;
    margin-left: -150px;
    margin-top: 26px;

}

.home_header{
    
    width: 100%;
    height: 70px;
    position: static;

}
.logo{
   
   
    height: 50px;
    margin-top: 0px;
    margin-left: 30px;
   

    
}
#go_top{
    display:none ;
    
}
#homeground{

   width: 100%;
   height: 300px;
   
}
.second_button{
    margin-top: -50px;
}
.first_button{
    margin-top: -100px;
}
.first_header{
    font-size: 20px;
    margin-left: 0px;
    margin-top: 15px;
    width: 100%;

}
.mother_profile{
    display: block;
    width: 100%;
    margin-top: -40px;
  margin-right: auto;
    margin-left: -150px;
}
.profile{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-left: 50%;
   
}
.profile_works{
    display: block;
    margin-top: -22px;
    font-size: 20px;
}
.profile_work{
    display: block;
    margin-top: -22px;
    font-size: 20px;
}
.profile_location{
    margin-top: -100px;
    display: block;
}
.icon_container{display: flex;}
.profile_name{
    font-size: 20px;
    
}
.profile_p{
margin-left: -30px;

}
.profile_image{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}
.vid_background{
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 400px;
    font-size: 10px;
}
.video{
    height:200px;
    width: 350px;
    margin-left: 15px;
}
.instruction_links{
margin-top: -9px;
font-size: 15px;
margin-left: auto;
margin-right: auto;
}
.instructions_links{
font-size: 20px;
}
.instructions_links2{
font-size: 20px;
margin-top: -30px;
}
.first_hr{

    width: 30px;
}
.marquee_background{
    height: 70px;
    margin-top: 40px;
    font-size: 20px;
}
.first_header2{
    font-size: 19px;
    width: 100%;

    margin-left: 0px;
}
.grey_background{
    width: 100%;
    display: block
}
.what_to_do{
    font-size: 20px;
    margin-left: 20px;

}
.what_to_do2{
    
    font-size: 15px;
}
.track_button{
    height: 30px;
    width:200px ;
    margin-top: 10px;
    font-size: 15px;

    margin-left: 20px;
    float: left;
    display: block;

}
.container_icons{
    display: block;
    margin-left: 20%;
 
    width:100%;
}
.home_home_icon{
    margin-top: 30px;
    margin-left: 50px;
}
#_icon{
    font-size: 20px;
    
}
.home_icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 70px;
}
.p_icon4{
    margin-left: 40px;
}
.icon_container{
    margin-top: -40px;
   
    
}
.bills_h1
{
    font-size: 25px;
    height: 30px;
    margin-left: 0px;
    width: 100%;
 
    
}
.container_table_main{
    display: block;
    width: 100%;
    margin-left: 0;
    
    
    
}
.container_table{
    display: block;

    width:100%;
    margin-left: 0;
   
    
    
}
.top_left{
    width: 100%;
    font-size: 20px;
    display: flex;
    
}
.top_left2{
    display: flex;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px dashed gray;
    
}
.top_right{
    display: flex;
    font-size: 20px;
    width: 100%;
    border-left: none;
    border-bottom: 1px dashed gray;
}
.top_right2{
    width: 100%;
    border-left: none;
    display: flex;
    border-bottom: 1px dashed gray;
}
.td_p{
    font-size: 20px;
    margin-left: 10px;
  
}
.senate{
    font-size: 8px;
}
.date{
    font-size: 8px;
}
.file{
    height: 40px;
    width: 40px;
}
.above_footer{
    display: block;
    height: 750px;
    font-size: 5px;
    width: 100%;
}
.country{
    font-size: 10px;
}
.above_footer_list{
    font-size: 8px;
}
.above_footer_list2{
    font-size: 8px;
}
.above_footer_list3{
    font-size: 8px
}
h5{
    font-size: 10px;
    margin-bottom: 15px;
}
.third_h5{
    font-size: 10px;
}
footer{
   width: 100%; 
}
.brands{
    display: none;
}
.footer_p{
    font-size:15px;
    margin-left: 0px;
    
}
.p_icon3{
   
    width: 200px;
}
.p_icon2{
  
    width: 200px;
}
.p_icon4{
 
    width: 200px;
}
.p_icon{
 
    width: 250px;
}
.last{
    font-size: 20px;
    margin-left: 10px;
}
.last2{font-size: 20px;
margin-left: 10px;
}
}